# ! It is strongly recommended not to share your file with private keys with anyone. Do not push it in repositories.
# Store it locally.

ENABLED_OPTIMIZER = true

ETHEREUM_TESTNET_KEYS = "0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1"
HOLESKY_URL = "https://eth-holesky.alchemyapi.io/v2/YOUR_ALCHEMY_API_KEY"

ETHERSCAN_API_KEY = "ABC123ABC123ABC123ABC123ABC123ABC1"
